Add a way to return result without body

Add a way to return an empty response body.

`Result.ok(null)` send `null` (Which is not valid `application/json;`)

`new Result<>(
                Status.OK,
                Collections.emptyMap(),
                Collections.emptyMap())` send `{}`


It is possible to return `Payload.EMPTY` if you return a Promise<Payload>. Would it be OK for you?

I need to return a `Promise<Result<..>>` in order to set the response status.

I think, the following code should send an empty response body instead of `null`
```
new Result<>(Status.BAD_REQUEST, Collections.emptyMap(), null)
```


Issues #2 and #3 improved the situation a bit by allowing error handling to change the result type and for instance set `Payload.EMPTY`. 

Returning `null` in your result might or might not correspond to an empty body: it's up to your serializer. If your client requests a body of content-type `application/json` then the JsonSerializer will convert `null` to the `null` JSON token. For instance, returning an empty `String` (`""`) with a `text/plain` content-type will also return an empty body. Returning a Payload short-circuits the serializer mechanism.

Now, it seems to me there is a better way signify "no body" than using `null`.  I will think about making Result#contents() optional. That would solve the problem :)

The question of Content-Type is still there though. After all if we have no body, Content-Type is optional. As per RFC2616, §7.2.1:

> Any HTTP/1.1 message containing an entity-body SHOULD include a Content-Type header field defining the media type of that body.

Currently Saga automatically determines it from the requested Accept header, the type/typetag of the object you return and the available serializers. If there's no result object, there's no associated type and we can't do that.

Question: would it be OK for you if, in case of empty bodies, Content-Type was not set automatically anymore (you could still set-it up manually in headers) ?

Brand new ways to return empty Results:

```java
    @Route(method = HttpMethod.GET, uri = "emptyResult")
    public Result<List<String>> emptyResult() {
        return Result.create(Status.GONE);
    }
```
Above, whatever the result type you have declared, if you don't return a value, then you will get an empty payload. Beware, returning `Result.create(Status.GONE, null)` might serialize a non-empty body, depending on the serializer that is chosen.
    
```java
    @Route(method = HttpMethod.GET, uri = "emptyFluent")
    public Void emptyFluent() {
        return null;
    }
```

A special case: returning `Void` or ```Promise<Void>``` will return an empty result (there are no instances of `Void` in Java, so only `null` can be written here without casting, but then the value would be discarded anyway!). Of course, in this particular case a response status `200 OK` will be sent, and no headers. 
